body{
    margin: 0;
    padding: 0;

}

main{
    padding: 16px;
}

footer{
    padding-bottom: 24px;
    padding-top: 24px;
    padding-left: 0;
    padding-right: 0;
    background-color: greenyellow;
}
img{
    height: 200px;
}

nav{
    border-bottom: 1px solid black;
    padding: 16px;
    background-color: orangered;
}

.prettier-recipes {
    display:grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
}

a{
    color: rgb(79, 179, 79)
}

a:hover{
    background-color: black;
}

h1 {
    color:rgb(79, 179, 79)
}

tbody> :nth-child(even) {
    background-color: rgba(183, 176, 176, 0.589);

}
